In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import monotonically_increasing_id
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Initialize the Spark session
spark = SparkSession.builder.appName("NugaBankETL").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/01/24 02:16:33 WARN Utils: Your hostname, Davids-MacBook-Air-2.local, resolves to a loopback address: 127.0.0.1; using 192.168.40.9 instead (on interface en0)
26/01/24 02:16:33 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/24 02:16:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [3]:
nuga_bank_df = spark.read.csv('dataset/nuga_bank_transactions.csv', header=True, inferSchema=True)
nuga_bank_df.show(5)

+----------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+------------+--------------------+------+--------------+
|Transaction_Date|Amount|Transaction_Type| Customer_Name|    Customer_Address|     Customer_City|Customer_State|    Customer_Country|             Company|           Job_Title|               Email|       Phone_Number|Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|Last_Updated|         Description|Gender|Marital_Status|
+----------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+------------+--------------------+------+--------------+
|         38:55.3| 34.76|      Withdrawal|    James Neal|54912 Holmes Lodg...| West Keithborough|       Florida|                Togo|Benson, Johnson a...|                NULL|                NULL|  493.720.6609x7545|  3592901394693441|GB98RBPP090285271...|          MAD|         3167|       C|    Z|       No|     04:55.5|Yeah food anythin...| Other|      Divorced|
|         16:00.0|163.92|      Withdrawal|   Thomas Long| 1133 Collin Passage|        Joshuabury|   Connecticut|Lao People's Demo...|                NULL|   Food technologist|michellelynch@exa...|      (497)554-3317|              NULL|GB03KFZR339662263...|          VEF|         2122|       B|    Z|     NULL|     23:15.2|Teach edge make n...|Female|       Married|
|         46:24.7|386.32|      Withdrawal|Ashley Shelton|5297 Johnson Port...|       North Maria|    New Jersey|              Bhutan|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|      675983949974|GB59QYRN446730519...|          COP|         7796|       C|    Z|       No|     23:05.9|Again line face c...| Other|          NULL|
|         29:26.4|407.15|         Deposit| James Rosario|56955 Moore Glens...|North Michellefurt|    New Mexico|             Iceland|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|     4761202519057|GB74FTDO268299438...|          BWP|         6284|       C|    Z|      Yes|     01:51.9|     Bag my a drive.|  NULL|          NULL|
|         51:03.6|161.31|         Deposit|Miguel Leonard|262 Beck Expressw...|              NULL| West Virginia|             Eritrea|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|               NULL|   213156729655186|GB94EWRN587847592...|          SOS|         9179|       C|    Y|       No|     08:24.4|Husband find ok w...|Female|       Married|
+----------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+------------+--------------------+------+--------------+
only showing top 5 rows

In [4]:
nuga_bank_df.printSchema()

root
 |-- Transaction_Date: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Transaction_Type: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Customer_Address: string (nullable = true)
 |-- Customer_City: string (nullable = true)
 |-- Customer_State: string (nullable = true)
 |-- Customer_Country: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Job_Title: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_Number: string (nullable = true)
 |-- Credit_Card_Number: long (nullable = true)
 |-- IBAN: string (nullable = true)
 |-- Currency_Code: string (nullable = true)
 |-- Random_Number: integer (nullable = true)
 |-- Category: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Is_Active: string (nullable = true)
 |-- Last_Updated: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marital_Status: string (nullable = true)

In [5]:
# Data Cleaning and Trasnformation Steps would go here

nuga_bank_df.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [6]:
# Number of Rows
num_rows = nuga_bank_df.count()
num_rows

780427

In [7]:
# Number of Columns
num_columns = len(nuga_bank_df.columns)
num_columns

23

In [8]:
# Checking for null values in each column
# for column in nuga_bank_df.columns:
#     null_count = nuga_bank_df.filter(nuga_bank_df[column].isNull()).count()
#     print(f"Column '{column}' has {null_count} null values.")
for column in nuga_bank_df.columns:
    print(column, 'Nulls:', nuga_bank_df.filter(nuga_bank_df[column].isNull()).count())

Transaction_Date Nulls: 0

Amount Nulls: 0
Transaction_Type Nulls: 0
Customer_Name Nulls: 78271
Customer_Address Nulls: 78109
Customer_City Nulls: 78231
Customer_State Nulls: 77943
Customer_Country Nulls: 78556
Company Nulls: 78309
Job_Title Nulls: 77942
Email Nulls: 78105
Phone_Number Nulls: 78139
Credit_Card_Number Nulls: 78116
IBAN Nulls: 78080
Currency_Code Nulls: 77618
Random_Number Nulls: 77904
Category Nulls: 78131
Group Nulls: 78060
Is_Active Nulls: 78348
Last_Updated Nulls: 78192
Description Nulls: 78225
Gender Nulls: 77972
Marital_Status Nulls: 77888

In [10]:
# How to fill up missing values
nuga_bank_df = nuga_bank_df.fillna({
    'Customer_Name': 'Unknown',
    'Customer_Address': 'Unknown',
    'Customer_City': 'Unknown',
    'Customer_State': 'Unknown',
    'Customer_Country': 'Unknown',
    'Company': 'Unknown',
    'Job_Title': 'Unknown',
    'Email': 'Unknown',
    'Phone_Number': 'Unknown',
    'Credit_Card_Number': 0,
    'IBAN': 'Unknown',
    'Currency_Code': 'Unknown',
    'Random_Number': 0.0,
    'Category': 'Unknown',
    'Group': 'Unknown',
    'Is_Active': 'Unknown',
    'Description': 'Unknown',
    'Gender': 'Unknown',
    'Marital_Status': 'Unknown'
})

In [11]:
# Drop Rows where Last_Updated is null
nuga_bank_df_clean = nuga_bank_df.na.drop(subset=['Last_Updated'])

In [12]:
for column in nuga_bank_df_clean.columns:
    print(column, 'Nulls:', nuga_bank_df_clean.filter(nuga_bank_df_clean[column].isNull()).count())

Transaction_Date Nulls: 0
Amount Nulls: 0
Transaction_Type Nulls: 0
Customer_Name Nulls: 0
Customer_Address Nulls: 0
Customer_City Nulls: 0
Customer_State Nulls: 0
Customer_Country Nulls: 0
Company Nulls: 0
Job_Title Nulls: 0
Email Nulls: 0
Phone_Number Nulls: 0
Credit_Card_Number Nulls: 0
IBAN Nulls: 0
Currency_Code Nulls: 0
Random_Number Nulls: 0
Category Nulls: 0
Group Nulls: 0
Is_Active Nulls: 0
Last_Updated Nulls: 0
Description Nulls: 0
Gender Nulls: 0
Marital_Status Nulls: 0

In [13]:
num_rows = nuga_bank_df_clean.count()
num_rows

702235

In [14]:
# To view summary statistics of the cleaned DataFrame
nuga_bank_df_clean.describe().show()

26/01/24 02:17:39 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+----------------+-----------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+------------+--------------------+-------+--------------+
|summary|Transaction_Date|           Amount|Transaction_Type|Customer_Name|    Customer_Address|Customer_City|Customer_State|Customer_Country|      Company|         Job_Title|              Email|        Phone_Number|  Credit_Card_Number|                IBAN|Currency_Code|    Random_Number|Category|  Group|Is_Active|Last_Updated|         Description| Gender|Marital_Status|
+-------+----------------+-----------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+------------+--------------------+-------+--------------+
|  count|          702235|           702235|          702235|       702235|              702235|       702235|        702235|          702235|       702235|            702235|             702235|              702235|              702235|              702235|       702235|           702235|  702235| 702235|   702235|      702235|              702235| 702235|        702235|
|   mean|            NULL|505.0584340712136|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|         NULL|              NULL|               NULL| 4.014163198900287E9|3.404967312560855E17|                NULL|         NULL|4953.498808803321|    NULL|   NULL|     NULL|        NULL|                NULL|   NULL|          NULL|
| stddev|            NULL|285.8636508873161|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|         NULL|              NULL|               NULL|3.3994194690397325E9|1.188932631995704...|                NULL|         NULL|2966.203626328992|    NULL|   NULL|     NULL|        NULL|                NULL|   NULL|          NULL|
|    min|         00:00.0|             10.0|         Deposit| Aaron Abbott|000 Aaron Landing...|    Aaronberg|       Alabama|     Afghanistan| Abbott Group|Academic librarian|            Unknown|   (200)202-2318x669|                   0|GB02AABY863136842...|          AED|                0|       A|Unknown|       No|     00:00.0|A Congress signif...| Female|      Divorced|
|    max|         59:59.9|           1000.0|      Withdrawal|    Zoe Young|             Unknown|  Zunigaville|       Wyoming|        Zimbabwe|Zuniga-Wilson|      Youth worker|zzuniga@example.org|             Unknown| 4999984361512569455|             Unknown|          ZWD|             9999| Unknown|      Z|      Yes|     59:59.9|Yourself yeah cen...|Unknown|       Unknown|
+-------+----------------+-----------------+----------------+-------------+--------------------+-------------+--------------+----------------+-------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+------------+--------------------+-------+--------------+

In [15]:
nuga_bank_df_clean.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [16]:
# Transaction Table 
transaction = nuga_bank_df_clean.select('Transaction_Date','Amount','Transaction_Type')

In [17]:
# Adding the Transaction_id column
transaction = transaction.withColumn("Transaction_id", monotonically_increasing_id())

In [18]:
# Reordering the columns
transaction = transaction.select('Transaction_id', 'Transaction_Date', 'Amount', 'Transaction_Type')

In [19]:
transaction.show()

+--------------+----------------+------+----------------+
|Transaction_id|Transaction_Date|Amount|Transaction_Type|
+--------------+----------------+------+----------------+
|             0|         38:55.3| 34.76|      Withdrawal|
|             1|         16:00.0|163.92|      Withdrawal|
|             2|         46:24.7|386.32|      Withdrawal|
|             3|         29:26.4|407.15|         Deposit|
|             4|         51:03.6|161.31|         Deposit|
|             5|         56:50.3|764.34|        Transfer|
|             6|         07:55.9|734.59|         Deposit|
|             7|         51:23.7|592.43|         Deposit|
|             8|         34:23.9| 927.1|         Deposit|
|             9|         46:15.7| 66.59|        Transfer|
|            10|         30:59.2| 246.3|      Withdrawal|
|            11|         22:57.2|782.32|      Withdrawal|
|            12|         16:59.4|818.42|      Withdrawal|
|            13|         55:41.4|352.23|      Withdrawal|
|            14|         01:32.1|316.19|      Withdrawal|
|            15|         40:07.7|662.26|      Withdrawal|
|            16|         58:19.6|893.73|         Deposit|
|            17|         32:39.9|746.22|      Withdrawal|
|            18|         43:24.4|214.77|      Withdrawal|
|            19|         50:39.1|726.94|      Withdrawal|
+--------------+----------------+------+----------------+
only showing top 20 rows

In [20]:
# Customer Table
customer = nuga_bank_df_clean.select('Customer_Name', 'Customer_Address', 'Customer_City', 'Customer_State', 'Customer_Country',\
                                    'Email', 'Phone_Number').distinct()

In [21]:
# Add ID column to customer table
customer = customer.withColumn("Customer_id", monotonically_increasing_id())

In [22]:
# Reorder Customer table 
customer = customer.select('Customer_id', 'Customer_Name', 'Customer_Address', 'Customer_City', 'Customer_State', 'Customer_Country',\
                                    'Email', 'Phone_Number')

In [24]:
customer.count()

702235

In [23]:
customer.show()

+-----------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+-------------------+
|Customer_id|    Customer_Name|    Customer_Address|       Customer_City|Customer_State|    Customer_Country|               Email|       Phone_Number|
+-----------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+-------------------+
|          0|       James Neal|54912 Holmes Lodg...|   West Keithborough|       Florida|                Togo|             Unknown|  493.720.6609x7545|
|          1|      Thomas Long| 1133 Collin Passage|          Joshuabury|   Connecticut|Lao People's Demo...|michellelynch@exa...|      (497)554-3317|
|          2|   Ashley Shelton|5297 Johnson Port...|         North Maria|    New Jersey|              Bhutan| ljordan@example.org|      (534)769-3072|
|          3|    James Rosario|56955 Moore Glens...|  North Michellefurt|    New Mexico|             Iceland|parkerjames@examp...|+1-447-900-1320x257|
|          4|   Miguel Leonard|262 Beck Expressw...|             Unknown| West Virginia|             Eritrea| zweaver@example.net|            Unknown|
|          5|      Jesse Clark|      194 Derek Burg|        Wallacemouth|    New Mexico|             Estonia|benjaminwalker@ex...|   229-511-2530x870|
|          6|       Mark Estes|4077 James Lane A...|      Williamsonport|      Michigan|Antarctica (the t...|karenrobinson@exa...|      (840)334-1610|
|          7|       Kelly Ruiz|             Unknown|          New Lauren|       Unknown|             Unknown|  iestes@example.org| 495.430.4276x42618|
|          8|        Brad Yang|    579 Nolan Harbor|South Christopher...|  South Dakota|             Unknown|maryduran@example...|  (241)738-0972x658|
|          9|   Dalton Jimenez|4330 Christine Vista|        Port Kirsten|       Unknown|            Cameroon|             Unknown|       670-499-0309|
|         10|   Paige Sheppard|0947 Mendez Under...|          Medinastad|North Carolina|             Iceland|  eric64@example.net|            Unknown|
|         11|   Stephen Nguyen|    01696 Brown Cape|          South Mary|       Wyoming|Heard Island and ...|stewartjames@exam...|  680-460-3674x6031|
|         12|    Renee Roberts|7591 Ponce Unions...|          Amandaside| Massachusetts|            Barbados|             Unknown|       695-680-5744|
|         13|Jacqueline Thomas|172 Morse Falls A...|         Bennettbury|      Oklahoma|                Fiji|  mark84@example.com| 484.837.6166x81262|
|         14|     Joseph Pratt|71283 Thomas Port...|        Lake Michele|        Nevada|     Kyrgyz Republic|robert02@example.com| 623.219.7997x39012|
|         15|        Tara Gray|    3476 Johnny Loaf|     South Davidland|     Tennessee|               Tonga|ewilliams@example...|            Unknown|
|         16|  Dominique Lynch|   181 Gregory Ferry|           Jamesfort|         Maine|               Kenya|suzanne41@example...|       448-821-0207|
|         17|      Sarah Brown|    4645 Smith Drive|        Arellanobury|   Mississippi|             Mayotte|sullivandiane@exa...|(643)844-2202x42284|
|         18|    Michael Brown|94463 Novak Turnp...|        North Robert|       Unknown|             Somalia|elliserica@exampl...|   214-650-4477x630|
|         19|     Tamara Clark|   4902 Torres Ports|        Bridgesmouth|     Tennessee|        Turkmenistan|annerice@example.com|  (528)927-0111x373|
+-----------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [25]:
# Employee Table 
employee = nuga_bank_df_clean.select('Company', 'Job_Title', 'Gender', 'Marital_Status').distinct()

# Add ID column to employee table
employee = employee.withColumn("Employee_id", monotonically_increasing_id())

# Reorder Employee table
employee = employee.select('Employee_id', 'Company', 'Job_Title', 'Gender', 'Marital_Status')

In [26]:
employee.show()

+-----------+--------------------+--------------------+-------+--------------+
|Employee_id|             Company|           Job_Title| Gender|Marital_Status|
+-----------+--------------------+--------------------+-------+--------------+
|          0|         Price Group|             Unknown|   Male|        Single|
|          1|        Marshall PLC|        Photographer|   Male|        Single|
|          2|          Watson Ltd|Forest/woodland m...| Female|      Divorced|
|          3|        Russell-Cook|        Cartographer|Unknown|       Married|
|          4|      Lyons and Sons|Psychotherapist, ...|  Other|        Single|
|          5|Owens, Mills and ...|         Optometrist| Female|        Single|
|          6|Moore, Fowler and...|English as a fore...|   Male|        Single|
|          7|Vazquez, Butler a...|             Unknown|Unknown|        Single|
|          8|Dunn, Stone and Ware|Biomedical scientist|   Male|      Divorced|
|          9|Cook, Ward and Ha...|             Unknown|  Other|        Single|
|         10|    Trujillo-Bradley|Scientist, resear...|Unknown|        Single|
|         11|         Collins PLC|           Press sub|  Other|      Divorced|
|         12|        Hogan-Parker|             Unknown|Unknown|       Married|
|         13|Nolan, Jones and ...|Broadcast journalist|   Male|       Married|
|         14|       Willis-Powell|Investment banker...|   Male|        Single|
|         15|           Davis LLC|    Textile designer|   Male|       Married|
|         16|Dawson, Morris an...|Sport and exercis...|  Other|       Married|
|         17|     Terrell-Jackson|Engineer, broadca...|   Male|       Unknown|
|         18|          Shah-Munoz|             Unknown|  Other|      Divorced|
|         19|            Li-Brown|Speech and langua...| Female|       Married|
+-----------+--------------------+--------------------+-------+--------------+
only showing top 20 rows

In [32]:
# Fact Table
# Join the cleaned data with dimension tables using natural keys
fact_table = nuga_bank_df_clean.join(
    customer,
    on=['Customer_Name', 'Customer_Address', 'Customer_City', 'Customer_State', 'Customer_Country', 'Email', 'Phone_Number'],
    how='left'
).join(
    transaction,
    on=['Transaction_Date', 'Amount', 'Transaction_Type'],
    how='left'
).join(
    employee,
    on=['Company', 'Job_Title', 'Gender', 'Marital_Status'],
    how='left'
).select('Customer_id', 'Transaction_id', 'Employee_id', 'Credit_Card_Number', 'IBAN', 'Currency_Code',
         'Random_Number', 'Category', 'Group', 'Is_Active', 'Description', 'Last_Updated')

In [33]:
fact_table.show()

+-----------+--------------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+------------+
|Customer_id|Transaction_id|Employee_id| Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|  Group|Is_Active|         Description|Last_Updated|
+-----------+--------------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+------------+
|51539607556|   51539607556|      61608|   3560355487090395|GB53MKDK173442121...|          TMT|         2936|       A|      X|      Yes|Seem whose especi...|     09:59.8|
|42949672975|   42949672975|      52174|       676212984154|GB96QCKS260858113...|          MMK|         2332|       B|      Y|      Yes|Station look outs...|     30:41.4|
|60129542153|   60129542153|      74655|      4175891800274|GB57ORUR595498942...|          TTD|         8009|       D|      X|      Yes|Several marriage ...|     44:45.1|
|42949672978|   42949672978|      51394|4578742855105246152|GB04OWXY336699802...|          AMD|         8092|       B|      Y|      Yes|Bad before popula...|     44:02.9|
|         20|            20|        431|    213186454811670|GB77SPMZ984195063...|          SOS|         7610|       C|      X|       No|Concern remember ...|     30:24.5|
|34359738373|   34359738373|      45328|        60462302294|GB13XPEZ090036061...|          MKD|         1868|       A|Unknown|      Yes|About strong race...|     08:33.9|
|25769803789|   25769803789|      38059|       676174476736|GB83BYJM813316699...|          RUB|            0|       B|Unknown|      Yes|Financial event o...|     21:42.1|
|42949672962|   42949672962|      55792|   2720705454272138|GB69JEHT569360823...|          JPY|         6042|       C|      Y|       No|             Unknown|     07:00.0|
| 8589934608|    8589934608|      10950|     30318655152825|GB81LULL662314027...|          CAD|         4982|       D|      Y|       No|Hundred power lot...|     43:21.3|
| 8589934601|    8589934601|      11383|     30045807095525|GB51JQMN570606548...|          UAH|         1569|       B|Unknown|      Yes|Partner three pus...|     19:57.3|
|25769803790|   25769803790|      32801|   3593059984522972|GB20EAFE429827178...|          MVR|            0|       A|      Z|      Yes|Open deal could i...|     21:27.6|
|60129542160|   60129542160|      73295|   2708928902079006|GB57KPGJ708124487...|          BZD|         2705|       C|Unknown|       No|Six piece bank ar...|     08:13.1|
|17179869185|   17179869185|      24056|   3516760486881816|             Unknown|          KMF|         1043|       A|      X|      Yes|Woman stock anyon...|     17:40.9|
|34359738377|   34359738377|      41338|   2702395800287485|             Unknown|          HTG|         8390|       C|      Z|      Yes|Animal only numbe...|     37:46.8|
|17179869188|   17179869188| 8589962777|   3569636739412755|GB57RHNG504900891...|          PGK|         4441|       A|      X|      Yes|Budget always voi...|     20:32.6|
| 8589934596|    8589934596| 8589950688|   4494177053340932|GB61RMHD894979116...|          MKD|            0|       D|Unknown|       No|Success speak rec...|     37:32.2|
|25769803787|   25769803787| 8589968312|   4878105440740361|GB31ERGZ710316900...|          MXN|         9886|       D|      Y|       No|Clearly deal ever...|     17:43.4|
|         18|            18| 8589940632|    213112163828334|GB50TJFN039979307...|          SVC|         7382|       B|      Z|      Yes|Great evening so ...|     19:14.7|
|25769803778|   25769803778| 8589969526|    342283768082264|GB57BQGQ854440151...|          THB|         1704|       C|      X|       No|Including four ce...|     37:45.2|
|34359738380|   34359738380| 8589975219|   6011883033434864|GB55YPSC812182093...|          NAD|         2350|       D|      Z|       No|While third under...|     30:49.9|
+-----------+--------------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+------------+
only showing top 20 rows